#pane{
    -fx-background-image: url("mainBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-height: 100%;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); /* Adds special effect (shadow to everything in the pane) */
}
#indicator{
    -fx-stroke: #757575; /* sonic silver */
}
